.app {
  text-align: left;
  background-color: #282c34;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.selector-container {
  display: flex;
  flex-direction: row;
}

@media (orientation: portrait) {
  .selector-container {
    flex-direction: column;
  }
}

/* Time Selector */

.time-selector-container {}

.time-selector-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.time-selector-title {
  font-size: 20px;
}

.time-selector-arrow {
  font-size: 20px;
  cursor: pointer;
}

/* Timer */

.timer-container {}

.timer-title-break {}

.timer-title-session {}

.timer-value-break {}

.timer-value-session {}

/* Time Controls */

.time-controls-container {
  display: flex;
  flex-direction: row;
}